html{
	background-color: "#00ab34";
}

body {
	background-color: #00ab34;
}

.header {
	outline-style: solid;
	width: auto;
	background-color: #148c38;
	font-family: FreeMono, monospace;
}

.main_content {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.navlink {
	background-color: #4bf35d;
	margin: 5px;
	border-style: solid;
	border-color: #1c5422;
	border-radius: 5px;
	color: black;
	padding: 5px;
	font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
	text-decoration: none;
}

.navlink:hover {
	background-color: #34b342;
}


.logo {
	width: 32px;
	height: 50px;
	transition: width 2s, height 2s;
}

.logo:hover {
	width: 48px;
	height: 75px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: black;
	background-color: #22b132;
}

.nav-pills > li > a:hover {
	color: black;
	background-color:  #239b30;
}
